{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <h1 class="text-center">Admin Dashboard</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone_no</th>
                <th>Dob</th>
                <th>Gender</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                {# <td>{{ user.roles ? user.roles|json_encode : '' }}</td> #}
                <td>
                    {% if 'ROLE_STUDENT' in user.roles|json_encode %}
                        {{ 'Student' }}
                    {% elseif 'ROLE_TEACHER' in user.roles|json_encode %}
                        {{ 'Teacher' }}
                    {% elseif 'ROLE_ADMIN' in user.roles|json_encode %}
                        {{ 'Admin' }}
                    {% endif %}
                </td>
                <td>{{ user.password }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phoneNo }}</td>
                <td>{{ user.dob }}</td>
                <td>{{ user.gender }}</td>
                <td>
                    <a href="{{ path('admin_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('admin_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('user_new') }}">Create new</a> #}
{% endblock %}
